package {{package}}
{
	import org.aerial.rpc.AbstractService;
	
	import {{modelPackage}}.{{model}};
	import {{configPackage}}.{{configClass}};
	import {{bootstrapPackage}}.{{bootstrapClass}};

	public class {{class}} extends AbstractService
	{
		public function {{class}}()
		{
			super("{{class}}", {{bootstrapClass}}.SERVER_URL, {{model}});
		}
	}
}