package {{package}}
{
	import org.aerialframework.rpc.AbstractVO;	
	import {{package}}.*;

	import flash.events.Event;
	import mx.collections.ArrayCollection;
	import flash.utils.ByteArray;
	
	[Bindable]
	[RemoteClass(alias="{{remoteClass}}")]
	public class {{class}} extends AbstractVO
	{
		public function {{class}}()
		{
			super(function(field:String):*{return this[field]},
                    function(field:String, value:*):void{this[field] = value});
		}
		
{{privateVars}}{{accessors}}		
	}
}
