package {{package}}
{
	import org.aerialframework.rpc.AbstractService;
	
	import {{modelPackage}}.{{model}};
	import {{bootstrapPackage}}.{{bootstrapClass}};

	public class {{class}} extends AbstractService
	{
		public function {{class}}()
		{
			super("{{class}}", {{bootstrapClass}}, {{model}});
		}
	}
}