package {{package}}
{
	import org.aerial.rpc.AbstractService;
	import org.aerial.system.IConfig;
	
	import {{modelPackage}}.{{model}};
	import {{configPackage}}.{{configClass}};

	public class {{class}} extends AbstractService
	{
		public function {{class}}()
		{
			super("{{class}}", Config.SERVER_URL, {{model}});
		}
	}
}