package {{package}}
{
	public class {{class}}
	{
{{configValues}}
	
		/**
		*	Empty function - purely used to include this class in JIT compilation
		*/
		public static function initialize():void {}
	}
}