package {{package}}
{
	import org.aerial.rpc.messages.AerialErrorMessage;		AerialErrorMessage;

    /**
    *   This class contains all the constants necessary to make Aerial run
    */
	public class {{class}}
	{
{{configValues}}
	}
}